

.post{
    background-color: azure;
    display:flex;
    flex-direction:column;
    max-width:80%;
    margin-top:20px;
    padding:15px;
    border-radius: 12px;
    margin-inline:auto;

}

.post-comments{
    color:blue;
}

.post-comments.show{
    display:flex;
}

.fa-comments{
    color:rebeccapurple;
}

.fa-comments:hover{
    color:blueviolet;
}