.post {
  background-color: lavender;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  margin-inline: auto;
  position: relative;
}

.post h2 {
  font-size: 18px;
}

.post-comments {
  color: blue;
}

.post-comments.show {
  display: flex;
}

.fa-comments {
  color: rebeccapurple;
  width: fit-content;
}

.fa-comments:hover {
  color: blueviolet;
}

.fa-comments:active {
  transform: scale(1.2);
}

.fa-trash {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: rebeccapurple;
}
.fa-trash:active {
  transform: scale(1.22);
}
